body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch; /* Ensure columns are the same height */
}

#left-column, #right-column {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 48%;
    position: relative; /* Add position relative to the parent container */
}

#controls .control-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#matrix-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    overflow-x: auto; /* Add horizontal scroll for overflow */
}

#matrix-container table {
    border-collapse: collapse;
    width: 100%;
}

#matrix-container th, #matrix-container td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

#matrix-container input {
    width: 100%;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#mynetwork {
    background: #ffffff;
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-matrix {
    position: absolute; /* Position absolute to the parent container */
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

#actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45A049;
}

#results {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#results .result {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 5px;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

#results .result p {
    font-size: 1.1em;
    margin: 5px 0;
}

#results .result span {
    font-weight: bold;
    color: #4CAF50;
}
